.header {
  background-color: #fff;
  border-bottom: 4px solid #4299e1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  height: auto; 
  background-image: url('/static/images/tom_1.png');
    /* 画像のパスを指定 */
    
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7); /* 白の半透明でロゴとテキストを見やすくする */
  z-index: 0;
}

.header img {
  height: 80px; 
  width: auto;
  object-fit: contain;
  display: block;
  z-index: 1;
  position: relative;
}

.nav-links {
    color: yellow;
    display: flex;
    gap: 2rem;
    z-index: 1;
    position: relative;
}