* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.container,
.login-container,
.reset-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  width: 100%;
}

/* ロゴを常に収まるように */
.header-logo {
  max-width: 100%;
  height: auto;
}

/* メディアクエリ */
@media (max-width: 768px) {
  html {
    font-size: 15px;
  }

  .container,
  .login-container,
  .reset-container {
    width: 95%;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 14px;
  }

  .header {
    height: auto;
    padding: 10px 0;
  }

  .header-logo {
    max-height: 50px;
  }
}