<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>PDF作成ページ</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/create_pdf.css') }}">
    </head>
    <body>
        {% include "header.html" %}

        <div class="container">
        
            <h1>スキルシートPDFの作成</h1>
            <p>下のボタンをクリックすると、PDFが生成されます。</p>
            <form action="/create_pdf" method="get">
                <button type="submit">PDFを生成</button>
            </form>
        </div>

    </body>
</html>
