<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>プロフィール作成</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include "header.html" %}
  
    <h1>ダッシュボード</h1>
    <p>ログイン成功！</p>
    <p>メールアドレス: {{ user_email }}</p>

    <p>プロフィール作成がまだの方は、下記から作成してください。</p>
    <div style="text-align: right; margin-top: 1rem;">
        <a href="{{ url_for('profile_input') }}"><button>プロフィール作成</button></a>
    </div>
    <h3>プロフィール一覧</h3>

    

</body>
</html>