<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>プロフィール作成</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>
<body>
    <header class="header">
            <img alt="ヘッダー画像" src="/static/images/tom_2.png"/> <!-- tomのロゴ -->
        
            <nav class="nav-links">
                <a href="{{ url_for('dashboard') }}">ダッシュボード</a>
                <a href="{{ url_for('profile_input') }}">プロフィール</a>
                <a href="{{ url_for('skillsheet_input') }}">スキルシート</a>
                <a href="{{ url_for('project_input') }}">プロジェクト</a>
                <a href="{{ url_for('view_pdf') }}">PDFを生成</a>
                <a href="{{ url_for('logout') }}">ログアウト</a>
            </nav>
        
    </header>
</body>
</html>