<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}ホームページ{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
{% endblock %}

{% block content %}
  <div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <h1>Welcome to Home Page</h1>

    <a href="{{ url_for('signup') }}" class="button-link">サインアップ</a>
    <a href="{{ url_for('login') }}" class="button-link">ログイン</a>
    <a href="{{ url_for('update_password_request') }}" class="button-link">パスワードリセット</a>
  </div>
{% endblock %}
