<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>プロジェクト作成</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/project_input.css') }}">

    </head>
    <body>
        
        {% include "header.html" %}
        
         <div class="container">
        <h1>プロジェクト入力</h1>
        <!--<p>プロジェクト情報を入力してください。</p>-->



            <!-- エラー表示をここに追加 -->
            {% if error %}
            <div >
                エラー: {{ error }}
            </div>
            {% endif %}

            <form method="POST" action="/project_input">
                <label for="name">プロジェクト名</label>
                <input type="text" id="name" name="name" placeholder="スキル管理WEBアプリ" required>

                <label for="description">プロジェクト説明</label>
                <textarea id="description" name="description" rows="5" placeholder="
                    プロジェクト概要（新卒チームによる開発版）
                    Python（Flask）とSupabaseを用いて、社内向けのスキル管理Webアプリケーションを新規開発しました。本アプリは、社員一人ひとりの保有スキルや職務経歴をカテゴリ別に入力・更新・閲覧できる機能を備え、データはSupabaseのデータベースで一元管理されます。管理者は、蓄積されたスキル情報をもとに検索やPDF出力を行い、スキルマップの作成や人材配置に活用できます。UIはHTML/CSSおよびJinjaテンプレートを用いて構築し、直感的に操作できるフォーム設計を実現しました。ログイン認証、パスワードリセット、データの自動反映など基本的なユーザー管理機能に加え、SupabaseのRLS（Row Level Security）を用いたセキュアなアクセス制御も実装済みです。なお、本プロジェクトは新卒社員3名によるチーム開発として実施され、要件定義から実装、テスト、社内展開まで一貫して担当しました。技術力と実行力の両面で成長が見られる成果となりました。"></textarea>

                <label for="project_summary">AI生成結果</label>
                <p name="project_summary" id="project_summary">{{ generated_summary }}</p>
                
                <button type="submit" name="action" value="generate">AIで生成</button>


                <label for="start_at">プロジェクト開始日</label>
                <input type="date" id="start_at" name="start_at">

                <label for="end_at">プロジェクト終了日</label>
                <input type="date" id="end_at" name="end_at">

                
                <label for="technologies">使用技術</label>
                <input type="text" id="technologies" name="technologies" placeholder="Python" >

                <button type="submit">保存する</button> 
            </form>

    </body>
</html>