<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>プロジェクト作成</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        
        {% include "header.html" %}
        

        {% if error %}
            <p >{{ error }}</p>
        {% else %}
            {% for p in projects %}
                <div class="project-block">
                    <p><strong>プロジェクト名:</strong> {{ p.name }}</p>
                    <p><strong>説明:</strong> {{ p.description }}</p>
                    <p><strong>開始日:</strong> {{ p.start_at[:10] if p.start_at }}</p>
                    <p><strong>終了日:</strong> {{ p.end_at[:10] if p.end_at }}</p>
                    <p><strong>役割:</strong> {{ p.role }}</p>
                    <p><strong>使用技術:</strong> {{ p.technologies }}</p>

                    <form action="{{ url_for('project_delete', project_id=p.id) }}" method="post" style="display:inline;">
                        <button type="submit" onclick="return confirm('本当に削除しますか？')">削除</button>
                    </form>
                    <a href="{{ url_for('project_edit', project_id=p.id) }}">
                        <button>編集</button>
                    </a>
        
                    <hr>
                </div>
            {% endfor %}
        {% endif %}

            

        <div >
            <a href="{{ url_for('project_input') }}"><button>プロジェクトを追加</button></a>
            <a href="{{ url_for('dashboard') }}"><button>ダッシュボードに戻る</button></a>
        </div>
    
    </body>
</html>