<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>プロジェクト作成</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/project_input.css') }}">
    </head>
    <body>
        
        {% include "header.html" %}

<div class="container">
    <h1>プロジェクト編集</h1>
    <p>プロジェクト情報を編集してください。</p>
    <p>プロジェクト情報:</p>

    {% if project %}
    <form method="POST">
        <label>プロジェクト名</label>
        <input type="text" name="name" value="{{ project.name }}" required>

        <label>説明</label>
        <textarea name="description">{{ project.description }}</textarea>

        <label>開始日</label>
        <input type="date" name="start_at" value="{{ project.start_at[:10] if project.start_at }}">

        <label>終了日</label>
        <input type="date" name="end_at" value="{{ project.end_at[:10] if project.end_at }}">

        <label>役割</label>
        <input type="text" name="role" value="{{ project.role }}">

        <label>使用技術</label>
        <input type="text" name="technologies" value="{{ project.technologies }}">

        <button type="submit">更新</button>
    </form>
    {% else %}
        <p>プロジェクトデータが見つかりません。</p>
    {% endif %}
</div>

    </body>
</html>