<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>サインアップ</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">
</head>
<body>
  <div class="header">
    <img src="{{ url_for('static', filename='images/tom_1.png') }}" class="header-bg" alt="背景画像">
    <img src="{{ url_for('static', filename='images/tom_2.png') }}" class="header-logo" alt="ロゴ">
  </div>

  <div class="reset-container">
    <h2>パスワードリセット</h2>
    <form action="{{ url_for('reset_password') }}" method="POST">
        <input type="email" name="email" placeholder="メールアドレスを入力" required>
        <button type="submit">リセットリンクを送信</button>
    </form>
</body>
</html>
