{% extends "base.html" %}

{% block title %}サインアップ{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block content %}
<div class="container">
  <h1>サインアップ</h1>
  <form action="/signup" method="POST">
    <div>
      <label for="email">メールアドレス:</label>
      <input type="email" id="email" name="email" required/>
    </div>
    <div>
      <label for="password">パスワード:</label>
      <div class="password-input-container">
        <input type="password" id="passwordInput" name="password" minlength="8" placeholder="最低8文字" required>
        <button type="button" id="togglePasswordVisibility" class="show-hide-button">
          <i class="fas fa-eye"></i> {# 表示/非表示用の目のアイコン #}
        </button>
      </div>
    </div>
    <div>
      <button type="submit">サインアップ</button>
    </div>
  </form>

  {% if success %}
  <p style="color: green;">{{ success }}</p>
  {% endif %}
  {% if error %}
  <p style="color: red;">{{ error }}</p>
  {% endif %}

  <p><a href="/"><strong>ホームに戻る</strong></a></p>
</div>
{% endblock %}

{% block extra_js %}
  <script src="{{ url_for('static', filename='js/show_password.js') }}"></script>
{% endblock %}