{% extends "base.html" %}

{% block title %}パスワードの再設定{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
{% endblock %}

{% block content %}
  <div class="container">
    <h2>パスワードの再設定</h2>
    <form method="post">
      <label for="password">新しいパスワード:</label><br>
      <div class="password-input-container">
        <input type="password" id="passwordInput" name="password" minlength="8" placeholder="最低8文字" required>
        <button type="button" id="showPasswordButton" class="show-hide-button">表示</button>
      </div>
      <br>

      <label for="confirm_password">新しいパスワード（確認）:</label><br>
      <div class="password-input-container">
        <input type="password" id="confirmPasswordInput" name="confirm_password" minlength="8" placeholder="最低8文字" required>
        <button type="button" id="showConfirmPasswordButton" class="show-hide-button">表示</button>
      </div>
      <br>

      <button type="submit">パスワードを変更</button>
    </form>

    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}

    {% if success %}
      <p style="color: green;">{{ success }}</p>
    {% endif %}
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{{ url_for('static', filename='js/show_password.js') }}"></script>
{% endblock %}