<!DOCTYPE html>
<html>

<head>    
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/project_input.css') }}">
  <title>パスワードリセット</title>
  </head>

<body>

    {% include "header.html" %}

  <div class="container">
  <h2>パスワードリセット</h2>
  <form method="post">
    <input type="email" name="email" placeholder="メールアドレス" required>
    <button type="submit">OTPを送信</button>

    
   </div>
  </form>
</body>
</html>
