<h2>パスワードの再設定</h2>
<form method="post">
  <label for="password">新しいパスワード:</label><br>
  <input type="password" id="passwordInput" name="password" minlength="6" maxlength="20" placeholder="min=6 max=20" required>
  <button type="button" id="showPasswordButton">表示</button>
  <br><br>

  <label for="confirm_password">パスワード（確認）:</label><br>
  <input type="password" id="confirmPasswordInput" name="confirm_password" minlength="6" maxlength="20" placeholder="min=6 max=20" required>

  <br><br>

  <button type="submit">パスワードを変更</button>
</form>

{% if error %}
  <p style="color: red;">{{ error }}</p>
{% endif %}

{% if success %}
  <p style="color: green;">{{ success }}</p>
{% endif %}

<!-- 外部JSを読み込む -->
<script src="{{ url_for('static', filename='js/update_password_form.js') }}"></script>
