<!DOCTYPE html>
<html>

<head>    
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/project_input.css') }}">
  <title>新しいパスワード</title>
</head>

<body>

    {% include "header.html" %}

    <div class="container">
    <h2>新しいパスワードを設定</h2>
   <form method="post">
     <input type="password" name="password" placeholder="新しいパスワード" required>
     <button type="submit">パスワードを変更</button>

     </div>
  </form>
</body>
</html>
